* {
  box-sizing: border-box;
}

.App {
  /* text-align: center; */
  color: #fff;
  background-color: #282c34;
}

button.highlight {
  color: blue;
}

header {
  width: 100%;
  height: 80px;
}

main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
}

nav {
  width: 300px;
  display: flex;
  flex-direction: column;

  button {
    display: block;
    background: none;
    border: none;
    color: white;
    margin-left: 10px;
    text-align: left;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 290px;
    position: relative;

    &:hover {
      color: lightgrey;
    }
  }
}

.containerState {
  font-size: 11px;
  text-align: right;
}

.dot {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: grey;

  &.running {
    background-color: green;
  }
  &.exited {
    background-color: red;
  }
  &.dead {
    background-color: red;
  }
  &.paused {
    background-color: orange;
  }
}

.actions {
  width: 100%;
  height: 40px;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logViewsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100vh - 120px);
  width: 100%;
}

.logViewWrapper {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  width: 100%;
}

.logViewHeading {
  display: flex;
  flex-direction: row;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.actions {
  margin-left: 10px;
}

.react-json-view svg {
  height: 0.9em !important;
}
